{% trans_default_domain 'toolbar' %}

{% apply spaceless %}
{# Link #}
{% if link == '' %}
    {% set href = '' %}
{% elseif link != 'cancel' %}
    {% set href = 'href=' ~ link %}
{% else %}
    {% set href = 'href="#" onclick="javascript:history.back(); return false;"' %}
{% endif %}

{# Title #}
{% if label != null %}
    {% set title = label %}
{% else %}
    {% set title = ('label.' ~ button)|trans %}
{% endif %}

{# Button #}
<a {{ href|raw }} class="btn btn-{{ size }} {{ style }}" style="margin: 0;" title="{{ title }}" role="button">
    {% if iconDisplay == 'false' %}
        {{ title }}
    {% else %}
        {% if location == 'top' %}
            {{ title }}<br /><span class="{{ icon }}"></span>
        {% elseif location == 'left' %}
            {{ title }}&nbsp;<span class="{{ icon }}"></span>
        {% elseif location == 'bottom' %}
            <span class="{{ icon }}"></span><br />{{ title }}
        {% else %}
            <span class="{{ icon }}"></span>&nbsp;{{ title }}
        {% endif %}
    {% endif %}
</a>
{% endapply %}