{% trans_default_domain 'toolbar' %}

{% spaceless %}
{# Link #}
{% if link == '' %}
    {% set href = '' %}
{% elseif link != 'cancel' %}
    {% set href = 'href=' ~ link %}
{% else %}
    {% set href = 'href="#" onclick="javascript:history.back(); return false;"' %}
{% endif %}

{# Title #}
{% if label != null %}
    {% set title = label %}
{% else %}
    {% set title = ('label.' ~ button)|trans %}
{% endif %}

{# Button #}
<a {{ href|raw }} class="btn {{ style }}" title="{{ title }}" role="button">
    <span class="{{ icon }}"></span>
    {% if button == 'dashboard' %}
        &nbsp;{{ title }}
    {% endif %}
</a>
{% endspaceless %}