{% trans_default_domain 'toolbar' %}

<div class="text-center">
    <div class="btn-group btn-group-md" role="group">
{# Current product dashboard #}
        <a href="{{ path(product ~ '_dashboard') }}" class="btn btn-success" title="{{ ('label.' ~ product)|trans }}" role="button">
            <span class="glyphicon glyphicon-dashboard"></span>&nbsp;{{ ('label.' ~ product)|trans }}</a>
{# Tools specified by bundle #}
        {{ tools|raw }}
{# Help #}
        <a href="{{ path(product ~ '_help') }}" class="btn btn-info" title="{{ 'label.help'|trans }}" role="button">
            <span class="glyphicon glyphicon-flag"></span></a>
{# Signout #}
        {% if signoutRoute != null %}
            <a href="{{ path(signoutRoute) }}" class="btn btn-info" title="{{ 'label.signout'|trans }}" role="button">
                <span class="glyphicon glyphicon-log-out"></span></a>
        {% endif %}
    </div>
{# Available dashboards #}
    <div class="btn-group btn-group-md" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ 'label.dashboards'|trans }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for dashboard in dashboards %}
                <li><a href="{{ path(dashboard ~ '_dashboard') }}" title="{{ ('label.' ~ dashboard)|trans }}">{{ ('label.' ~ dashboard)|trans }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>