{% trans_default_domain 'toolbar' %}

{% spaceless %}
{# Defines Route #}
{% if route == '' %}
    {% set href = '' %}
{% elseif route != 'cancel' %}
    {% set href = 'href=' ~ route %}
{% else %}
    {% set href = 'href=javascript:history.back()' %}
{% endif %}
{# Defines button #}
<a {{ href }} class="btn btn-{{ style }}" title="{{ ('label.' ~ label)|trans }}" role="button">
    <span class="fas {{ icon }}"></span>
    {% if dashboard != null %}
        &nbsp;{{ ('label.' ~ dashboard)|trans }}
    {% endif %}
</a>
{% endspaceless %}